In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

In [2]:
df=pd.read_csv('titanic.csv')

In [42]:
#Checking for null values
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_n
0,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False,False
887,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False,False
889,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False,False

In [15]:
#Drawing scatter plot
plt.scatter(df['Pclass'],df['Survived'])

In [16]:
plt.scatter(df['Sex'],df['Survived'])

In [19]:
plt.scatter(df['Fare'],df['Survived'])

In [14]:
#Giving label to column sex
l_sec=LabelEncoder()

In [20]:
df['Sex_n']=l_sec.fit_transform(df['Sex'])

In [22]:
#Loading the dataset
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_n
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,1

In [30]:
#Taking the input and output columns
inp=df[['Pclass','Sex_n','Fare']]
out=df[['Survived']]

In [31]:
inp

,Pclass,Sex_n,Fare
0,3,1,7.2500
1,1,0,71.2833
2,3,0,7.9250
3,1,0,53.1000
4,3,1,8.0500
...,...,...,...
886,2,1,13.0000
887,1,0,30.0000
888,3,0,23.4500
889,1,1,30.0000
890,3,1,7.7500

In [32]:
#Splitting into training and testing data
train_input,test_input,train_output,test_ouput=tts(inp,out,train_size=0.9)

In [34]:
#Solving using descion tree classifier
des=tree.DecisionTreeClassifier()
des.fit(train_input,train_output)

DecisionTreeClassifier()

In [35]:
#Predicting the ouput of person of pclass:3 sex:male, Fare:10.0
des.predict([[3.0,1.0,10.0]])

array([0])

In [36]:
#Prediciting the output with tesing dataset
des.predict(test_input)

array([0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0])

In [37]:
#Actual output of testdataset
test_ouput

,Survived
50,0
62,0
22,1
40,0
359,1
...,...
748,0
723,0
832,0
95,0
595,0

In [38]:
#Comparing the efficiency of tesdataset
des.score(test_input,test_ouput)
#82% Efficiency

0.8222222222222222

In [39]:
#Comparing the efficency between training dataset
des.score(train_input,train_output)
#90% Efficeincy

0.9063670411985019