In [0]:
                                                #Desicion tree Classifier

In [1]:
#Imporing the module
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Loading the dataset
df=pd.read_csv('tic-tac-toe-endgame.csv')

In [3]:
#Printing the first 10 rows of the dataset
df.head(10)

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive
5,x,x,x,x,o,o,b,b,o,positive
6,x,x,x,x,o,b,o,o,b,positive
7,x,x,x,x,o,b,o,b,o,positive
8,x,x,x,x,o,b,b,o,o,positive
9,x,x,x,x,b,o,o,o,b,positive

In [6]:
#Giving labels to each values in the column
from sklearn.preprocessing import LabelEncoder
#Creating objects for the class
l_v1=LabelEncoder()
l_v2=LabelEncoder()
l_v3=LabelEncoder()
l_v4=LabelEncoder()
l_v5=LabelEncoder()
l_v6=LabelEncoder()
l_v7=LabelEncoder()
l_v8=LabelEncoder()
l_v9=LabelEncoder()
l_v10=LabelEncoder()

In [8]:
#Creating new columns based on labels for each values
df['V1_n']=l_v1.fit_transform(df['V1'])
df['V2_n']=l_v2.fit_transform(df['V2'])
df['V3_n']=l_v3.fit_transform(df['V3'])
df['V4_n']=l_v4.fit_transform(df['V4'])
df['V5_n']=l_v5.fit_transform(df['V5'])
df['V6_n']=l_v6.fit_transform(df['V6'])
df['V7_n']=l_v7.fit_transform(df['V7'])
df['V8_n']=l_v8.fit_transform(df['V8'])
df['V9_n']=l_v9.fit_transform(df['V9'])
df['V10_n']=l_v10.fit_transform(df['V10'])

In [9]:
#Loading the dataset
df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V1_n,V2_n,V3_n,V4_n,V5_n,V6_n,V7_n,V8_n,V9_n,V10_n
0,x,x,x,x,o,o,x,o,o,positive,2,2,2,2,1,1,2,1,1,1
1,x,x,x,x,o,o,o,x,o,positive,2,2,2,2,1,1,1,2,1,1
2,x,x,x,x,o,o,o,o,x,positive,2,2,2,2,1,1,1,1,2,1
3,x,x,x,x,o,o,o,b,b,positive,2,2,2,2,1,1,1,0,0,1
4,x,x,x,x,o,o,b,o,b,positive,2,2,2,2,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,o,x,x,x,o,o,o,x,x,negative,1,2,2,2,1,1,1,2,2,0
954,o,x,o,x,x,o,x,o,x,negative,1,2,1,2,2,1,2,1,2,0
955,o,x,o,x,o,x,x,o,x,negative,1,2,1,2,1,2,2,1,2,0
956,o,x,o,o,x,x,x,o,x,negative,1,2,1,1,2,2,2,1,2,0
957,o,o,x,x,x,o,o,x,x,negative,1,1,2,2,2,1,1,2,2,0

In [12]:
#Taking input and output columns
inp=df[['V1_n','V2_n','V3_n','V4_n','V5_n','V6_n','V7_n','V8_n','V9_n']]
out=df[['V10_n']]
inp

,V1_n,V2_n,V3_n,V4_n,V5_n,V6_n,V7_n,V8_n,V9_n
0,2,2,2,2,1,1,2,1,1
1,2,2,2,2,1,1,1,2,1
2,2,2,2,2,1,1,1,1,2
3,2,2,2,2,1,1,1,0,0
4,2,2,2,2,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...
953,1,2,2,2,1,1,1,2,2
954,1,2,1,2,2,1,2,1,2
955,1,2,1,2,1,2,2,1,2
956,1,2,1,1,2,2,2,1,2
957,1,1,2,2,2,1,1,2,2

In [29]:
#Creating training and testing dataset
from sklearn.model_selection import train_test_split as tts
train_input,test_input,train_output,test_ouptut=tts(inp,out,train_size=0.9,random_state=10)
train_input

,V1_n,V2_n,V3_n,V4_n,V5_n,V6_n,V7_n,V8_n,V9_n
823,1,1,1,2,0,2,2,2,1
431,1,0,2,1,2,2,2,1,0
897,0,2,1,2,1,1,1,2,2
285,2,0,0,2,0,0,2,1,1
571,0,1,1,1,2,0,2,2,2
...,...,...,...,...,...,...,...,...,...
369,1,1,2,2,2,2,0,1,0
320,1,2,1,2,2,2,1,1,2
527,0,1,2,2,2,2,1,0,1
125,2,1,2,1,2,1,2,0,0
265,2,0,1,1,2,0,0,0,2

In [30]:
#Solving using desicion tree classisifier
from sklearn import tree
des=tree.DecisionTreeClassifier()
des.fit(train_input,train_output)

DecisionTreeClassifier()

In [39]:
#Predicting output with random values(x,x,x,0,0,0,b,b,b)
des.predict([[2,2,2,1,1,1,0,0,0,]])

array([1])

In [33]:
#Prediciting the ouput with testing dataset
des.predict(test_input)

array([1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1])

In [34]:
#Actual output of testing dataset
test_ouptut

,V10_n
27,1
649,0
778,0
820,0
194,1
...,...
793,0
92,1
233,1
701,0
524,1

In [35]:
#Comparing the efficiency between actual and predicted output of test dataset
des.score(test_input,test_ouptut)
#92% efficiecny

0.9270833333333334

In [38]:
##Comparing the efficiency between actual and predicted output of training dataset
des.score(train_input,train_output)
#100% Efficiency

1.0