In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split as tts

In [2]:
#Loading dataframe
df=pd.read_csv('salaries.csv')

In [3]:
df.head(5)

,company,job,degree,salary_more_then_100k
0,google,sales executive,bachelors,0
1,google,sales executive,masters,0
2,google,business manager,bachelors,1
3,google,business manager,masters,1
4,google,computer programmer,bachelors,0

In [4]:
plt.scatter(df['company'],df['salary_more_then_100k'],color="green")

In [5]:
plt.scatter(df['job'],df['salary_more_then_100k'],color="blue")

In [6]:
#Creating label for company degree and job
from sklearn.preprocessing import LabelEncoder

In [13]:
l_company=LabelEncoder()
l_job=LabelEncoder()
l_degree=LabelEncoder()

In [14]:
df['company_n']=l_company.fit_transform(df['company'])
df['job_n']=l_job.fit_transform(df['job'])
df['degree_n']=l_degree.fit_transform(df['degree'])

In [15]:
df

,company,job,degree,salary_more_then_100k,company_n,job_n,degree_n
0,google,sales executive,bachelors,0,2,2,0
1,google,sales executive,masters,0,2,2,1
2,google,business manager,bachelors,1,2,0,0
3,google,business manager,masters,1,2,0,1
4,google,computer programmer,bachelors,0,2,1,0
5,google,computer programmer,masters,1,2,1,1
6,abc pharma,sales executive,masters,0,0,2,1
7,abc pharma,computer programmer,bachelors,0,0,1,0
8,abc pharma,business manager,bachelors,0,0,0,0
9,abc pharma,business manager,masters,1,0,0,1
10,facebook,sales executive,bachelors,1,1,2,0
11,facebook,sales executive,masters,1,1,2,1
12,facebook,business manager,bachelors,1,1,0,0
13,facebook,business manager,masters,1,1,0,1
14,facebook,computer programmer,bachelors,1,1,1,0
15,facebook,computer programmer,masters,1,1,1,1

In [19]:
#Making input and output columns
inp=df[['company_n','job_n','degree_n']]
out=df[['salary_more_then_100k']]

In [38]:
#Splitting input and output into training and testing dataset
train_input,test_input,train_output,test_output=tts(inp,out,train_size=0.8,random_state=10)

In [39]:
#Solving using descion tree classifier
from sklearn import tree
des=tree.DecisionTreeClassifier()
des.fit(train_input,train_output)

DecisionTreeClassifier()

In [41]:
#Predicting the output of a person working in google as a computer programmer with masters degree
des.predict([[2,1,1]])

array([0])

In [42]:
#checking the ouput with testing datatset
des.predict(test_input)

array([0, 1, 1, 0])

In [43]:
test_output

,salary_more_then_100k
5,1
3,1
14,1
7,0

In [44]:
#Comparing the efficiency between test input and output dataset
des.score(test_input,test_output)

0.75

In [45]:
des.score(train_input,train_output)

1.0