In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [3]:
dataset=pd.read_csv('percapitaincome.csv')

In [14]:
dataset.tail(10)

,year,per capita income (US$)
37,2007,36144.48122
38,2008,37446.48609
39,2009,32755.17682
40,2010,38420.52289
41,2011,42334.71121
42,2012,42665.25597
43,2013,42676.46837
44,2014,41039.89360
45,2015,35175.18898
46,2016,34229.19363

In [9]:
plt.scatter(dataset['year'],dataset['per capita income (US$)'],color="green",marker=".")

In [10]:
reg=linear_model.LinearRegression()
reg.fit(dataset[['year']],dataset['per capita income (US$)'])

LinearRegression()

In [28]:
reg.predict([[2000]])

array([24719.39258996])

In [31]:
yearout=pd.read_csv('years.csv')

In [32]:
yearout.head(5)

,year
0,2017
1,2018
2,2020
3,2019
4,2021

In [36]:
p=reg.predict(yearout)
p

array([38803.29886875, 39631.76394397, 41288.69409442, 40460.22901919,
       42117.15916964])