In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model 
from sklearn.model_selection import train_test_split as tts

In [2]:
df=pd.read_csv("insurancedata.csv")

In [4]:
df.head(10)

,age,bought_insurance
0,22,0
1,25,0
2,47,1
3,52,0
4,46,1
5,56,1
6,55,0
7,60,1
8,62,1
9,61,1

In [7]:
plt.scatter(df['age'],df['bought_insurance'],color="green")
plt.xlabel('age')
plt.ylabel("insurance")

Text(0, 0.5, 'insurance')

In [8]:
df.head(5)

,age,bought_insurance
0,22,0
1,25,0
2,47,1
3,52,0
4,46,1

In [34]:
inp=df[['age']]
out=df[['bought_insurance']]

In [36]:
out

,bought_insurance
0,0
1,0
2,1
3,0
4,1
5,1
6,0
7,1
8,1
9,1
10,0
11,0
12,0
13,0
14,1
15,1
16,1
17,1
18,0
19,0
20,0
21,0
22,1
23,1
24,1
25,1
26,0

In [85]:
input_train,input_test,output_train,output_test=tts(inp,out,test_size=0.2,random_state=10)

In [86]:
reg=linear_model.LogisticRegression()
reg.fit(input_train,output_train)

/opt/python/envs/default/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [87]:
input_test

,age
7,60
5,56
18,19
21,26
11,28
1,25

In [88]:
reg.predict(input_test)

array([1, 1, 0, 0, 0, 0])

In [81]:
reg.predict([[18]])

array([0])

In [89]:
output_test

,bought_insurance
7,1
5,1
18,0
21,0
11,0
1,0

In [90]:
reg.score(input_test,output_test)

1.0

In [91]:
plt.bar(df['age'],df['bought_insurance'])